body {
    padding-top: 80px;
    padding-bottom: 45px;
    background: url("../images/handmadepaper.png") repeat;
}

[ng-cloak] {
    display: none;
}

.contact-row {
    margin-top: 3px;
    margin-bottom: 2px;
}

#yandex-map-container {
    /*width: 200px;*/
    height: 250px;
}

.footer {
    height: 35px;
    min-height: 35px;
    padding-top: 2px;
}

.yashare-auto-init {
    display: inline-block;
    width: 200px;
}

.copyright {
    font-size: 9px;
    padding-right: 7px;
    padding-top: 10px;
}
