body {
    padding-top: 80px;
    background: url("../images/handmadepaper.png") repeat;
}

[ng-cloak] {
    display: none;
}

.contact-row {
    margin-top: 3px;
    margin-bottom: 2px;
}

#yandex-map-container {
    /*width: 200px;*/
    height: 250px;
}
